name = "chatcode-cp"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[[d1_databases]]
binding = "DB"
database_name = "chatcode"
database_id = "placeholder"

[[kv_namespaces]]
binding = "KV"
id = "placeholder"

[[durable_objects.bindings]]
name = "GATEWAY_HUB"
class_name = "GatewayHub"

[[migrations]]
tag = "v1"
new_classes = ["GatewayHub"]

[triggers]
crons = ["* * * * *"]

[vars]
DO_CLIENT_ID = ""
GOOGLE_CLIENT_ID = ""
GITHUB_CLIENT_ID = ""
APP_ENV = "dev"
GATEWAY_VERSION = "v0.0.1"
GATEWAY_RELEASE_BASE_URL = "https://releases.chatcode.dev/gateway"
AUTH_MODE = "dev"

[env.staging]
name = "chatcode-cp-staging"
workers_dev = true
routes = [{ pattern = "cp.staging.chatcode.dev/*", zone_name = "chatcode.dev" }]

[[env.staging.durable_objects.bindings]]
name = "GATEWAY_HUB"
class_name = "GatewayHub"

[[env.staging.migrations]]
tag = "v1"
new_classes = ["GatewayHub"]

[[env.staging.d1_databases]]
binding = "DB"
database_name = "chatcode-staging"
database_id = "ab35aec1-8ef2-47fc-b40f-866e5b1fa82e"

[[env.staging.kv_namespaces]]
binding = "KV"
id = "d81e938334fc41f884e4b24d7bb55437"

[env.staging.vars]
DO_CLIENT_ID = "0bcc8cc64037ea9e451de9a3cac9457a1bf13acd8091100e7f369a18f669d31b"
GOOGLE_CLIENT_ID = ""
GITHUB_CLIENT_ID = ""
APP_ENV = "staging"
GATEWAY_VERSION = "v0.0.1"
GATEWAY_RELEASE_BASE_URL = "https://releases.chatcode.dev/gateway"
AUTH_MODE = "dev"
